* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Zoro {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}
#navi {
    display: flex;
    justify-content: space-around;
}

#navi > li {
    list-style: none;
    border: 2px solid white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow:4px 4px 2px rgba(0,0,0,0.6) ;
    background-color: rgba(255, 255, 255, 0.5)
}

#navi > li:hover {
    background-color: rgb(255, 255, 255);
    font-style: italic;
    box-shadow:4px 4px 2px rgba(255,255,255,0.6)
}

h1 {
   color: white; 
   text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
   font-size: xx-large;
   text-decoration: underline;
   margin-bottom: 1rem;
}

p {
    color: white;
    font-size: xx-large;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

body {
    width: 100dvw;
    height: 100dvh;    
}

nav {
    width: 100%;
    height: 20%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
}