* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Zoro {
    position: fixed;
    top: 0;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
   color: white; 
   text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
   font-size: xx-large;
   text-decoration: underline;
   margin-bottom: 1rem;
}

#navi {
    display: flex;
    justify-content: space-around;
}

#navi > li {
    list-style: none;
    border: 2px solid white;
    border-radius: 8px;
    padding: 4px;

}

#navi > li:hover {
    background-color: white;
    font-style: italic;
}

div {
    display: flex;
    align-items: center;
    margin: 3rem;
    background-color: rgba(0, 255, 255, 0.2);
    padding: 1rem;
    border-radius: 32px;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 4px;
    border-style: solid;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

article {
   display: block;
   margin: 2rem;
}

p {
    color: white;
    font-size: large;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

img {
    border-radius: 16px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}